<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p>
  Nullam vel sapien varius, rhoncus arcu nec, tincidunt ligula. Aenean pretium, lacus cursus ornare suscipit, felis nunc faucibus enim, vitae ornare augue neque a arcu. Maecenas maximus varius arcu sit amet fermentum. Quisque id risus ac mauris tincidunt feugiat sed eu sem. Proin auctor sodales nunc a dapibus. Quisque nec placerat nulla. Nam ut vehicula massa. Donec vel leo mattis, accumsan sem eget, convallis urna. Nulla auctor eleifend pharetra. Duis tempus, massa in convallis lacinia, purus leo aliquam velit, quis vulputate purus ligula id orci. Morbi vestibulum porta tortor. Nulla eleifend eros vitae ex vestibulum, nec sagittis tellus tempor.
</p>

<p>
    <img src ="http://lorempixel.com/output/nightlife-h-c-912-960-8.jpg">
</p>

<ion-button expand="full" fill="solid" color="success" [routerDirection]="'root'" [routerLink]="['/tableofcontents']">Table of Contents</ion-button>
<ion-button expand="full" fill="solid" color="success" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Page</ion-button>
<ion-button expand="full" fill="solid" color="success" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Page</ion-button>
</ion-content>
