<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p>
  Nam tristique euismod magna, ornare cursus magna sodales sit amet. In suscipit enim in lacinia luctus. Quisque consequat ante sit amet justo porttitor porttitor. Curabitur et ultricies metus. Integer tortor arcu, porta vel leo quis, ultricies venenatis purus. Quisque vel felis ornare, egestas odio et, sagittis risus. Ut consequat volutpat justo, ac finibus turpis efficitur nec. Integer pretium iaculis aliquam. Fusce quis libero eu ante pharetra convallis. Proin dapibus nisl ipsum, eget venenatis nisl tempus sed. Etiam semper purus sed sem laoreet, quis varius ex sodales.
</p>

<p>
    <img src ="http://lorempixel.com/output/cats-q-c-781-616-4.jpg">
</p>

<ion-button expand="full" fill="solid" color="success" [routerDirection]="'root'" [routerLink]="['/tableofcontents']">Table of Contents</ion-button>
<ion-button expand="full" fill="solid" color="success" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Page</ion-button>
</ion-content>
